/* ALL */

body {
    background-color: #6c79a6;
    font-family: 'Nunito', sans-serif;
}


/* HEADER */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3b4875;
    justify-items: center;
}

.navbar a {
    color: white;
    font-size: 1.2em;
    padding: 0px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    margin: 0px;
}


/* MAIN-BANNER */

.banner {
    margin-top: 2em;;
    padding: 2%;
    background-color:#3b4875;
}

.banner .container {
    font-size: 1.5em;
    text-shadow: 1px 1px black;
    text-align: center;
}


/* MAIN-EVENTS */

.events {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3b4875;
    margin-top: 2em;
}

.events .container {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.events img {
    width: 350px;
    height: 250px;
}


/* MAIN-AIRPLANES */

.airplanes {
    background-color: #3b4875
}


/* MAIN-LOCATIONS */

.locations {
    background-color: #3b4875
}



