/* HEADER */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3b4875;
    justify-items: center;
}

.navbar a {
    color: white;
    font-size: 1.2em;
    padding: 0px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    margin: 0px;
}


/* MAIN-BANNER */

.banner {
    margin-top: 2em;;
    background-image: url(/resources/images/banner.jpg);
    padding: 10% 10% 0 0;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 170%;
}

.banner .container {
    font-size: 2em;
    text-shadow: 1px 1px black;
}


/* MAIN-EVENTS */

.events {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.events .container {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.events img {
    width: 350px;
    height: 250px;
}




