/* HEADER */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3b4875;
    justify-items: center;
}

.navbar a {
    color: white;
    font-size: 1.2em;
    padding: 0px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    margin: 0px;
}




